#grid-container {
  display: grid;
  grid-template-areas:
    'nav-bar'
    'main-image'  
    'footer';
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 7fr 1fr;
}

#nav-bar {
  grid-area: nav-bar;
  justify-self: center;
}

#nav-bar > ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-self: center;
}

#nav-bar > ul > li {
  margin: 10px;
  background-color: black;
  color: azure;
  border-radius: 5%;
}

#nav-bar > ul > li > a {
  text-decoration: none;
  color: inherit;
  padding: 20px;
}

#nav-bar > ul > li:hover {
  background-color: azure;
  color: black;
}

#main-image {
  grid-area: main-image;
  align-self: flex-start;
  justify-self: center;
}

#footer {
  grid-area: footer;
  justify-self: center;
}








