@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


#app {
  font-family: 'Amatic SC', cursive;
}

#grid-container {
  display: grid;
  grid-template-areas:
    'nav-bar'
    'main-image'  
    'footer';
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 7fr 1fr;
}

#nav-bar {
  grid-area: nav-bar;
  justify-self: center;
}

#main-image {
  grid-area: main-image;
  align-self: flex-start;
  justify-self: center;
}

#footer {
  grid-area: footer;
  justify-self: center;
}








