.App {
  /* display: grid;
  grid-template-rows: max-content;
  grid-template:
    'nav-bar nav-bar nav-bar'
    'main-image main-image main-image'
    'main-image main-image main-image'
    'main-image main-image main-image'
    'footer footer footer'; */
}

.nav-bar {
  grid-area: nav-bar;
  justify-self: center;
}


.main-image {
  grid-area: main-image;
  align-self: center;
  justify-self: center;
}

.footer {
  grid-area: footer;
}








